<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Add a Person</h1>

<form action="#" method="post" th:action="@{/addPerson}" th:object="${personNew}">
<label for="age">Age: </label>
<input type="text" th:field="*{age}" id="age" name="age"><br>
<br>
<label for="company">Company: </label>
<input type="text" th:field="*{company.name}" id="company" name="company"><span style="color:red;" th:errors="*{company.name}"></span><br>
<br>
<label for="email">Email: </label>
<input type="text" th:field="*{emailAddress}" id="email" name="email"><span style="color:red;" th:errors="*{emailAddress}"></span><br>
<br>
<label for="fname">First Name: </label>
<input type="text" th:field="*{firstName}" id="fname" name="fname"><span style="color:red;" th:errors="*{firstName}"></span><br>
<br>
<label for="language">Language:</label>
<select name="language" th:field="*{language}" id="language">
  <option value="nl">Dutch</option>
  <option value="fr">French</option>
  <option value="en">English</option>
</select>
<!-- 
<label for="language">Language: </label>
<input type="text" th:field="*{language}" id="language" name="language"><br>
-->
<br>
<br>
<label for="lname">Last Name: </label>
<input type="text" th:field="*{lastName}" id="lname" name="lname"><br>
<br>
<label for="pwd">Password: </label>
<input type="text" th:field="*{password}" id="pwd" name="pwd"><span style="color:red;" th:errors="*{password}"></span><br>
<br>
<label for="personid">Person Id: </label>
<input type="text" th:field="*{personId}" id="personid" name="personid"><br>
<br>
<br>
<input type="submit" value="Submit">
</form>
<br>
<br>
<form action="#" method="post" th:action="@{/doAdmin}">
    <button type="submit">Back</button>
</form>


</body>
</html>